@font-face {
    font-family: 'Uiyeun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uiyeun';
    
}



.anxiety-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10000;
  opacity: 0%;
  transition: opacity 0.3s ease;
  mix-blend-mode: darken;
  background:red;
  backdrop-filter: blur(2px) contrast(0.8);
  animation: noise-shake 0.12s infinite;
}

.eyeFilter{
    width:500px;
    height:500px;
    object-fit: cover;
}


@keyframes noise-shake {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(-1px, 1px); }
  50%  { transform: translate(1px, -1px); }
  75%  { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, 1px); }
}

#day{
    display: none;
    position: fixed;
    background-color: #000000;
    width:100%;
    height:100%;
    z-index:14;
    opacity:0;
    transition: all 1s;
    animation: dissolve_in_out 3s ease forwards 
}

#day h1{
     
    position: fixed;
    top:calc(50% - 25px); 
    width:100%;
     text-align: center;
     color: aliceblue;
     font-size:50px;

}

#ding{
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:100%;
    z-index: 16; 
    transition: all 1s ease;
}

#ding video {
    width:100%;
    height:100%;
    object-fit: cover;
}





html, body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100vh;         
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}


@keyframes dissolve {
    0% {opacity:100%}
    100% {
     opacity:0%;
    }
}


@keyframes dissolve_on {
    0% {opacity:0%;}
    100% {
     opacity:100%;    
    }
}

#bad_end {
    display: none;
    position: fixed;
    background-color: #a32014;
    height:100%;
    width:100%;
    z-index:15;
    opacity:0%;
    transition: all 1s;

}




#bad_end h1 {
    position: fixed;
    top:calc(50% - 80px);
    font-size:60px;
    width:100%;
    text-align: center;
}
#bad_end h3 {
    position: fixed;
    top:calc(50% - 10px);
    font-size:40px;
    width:100%;
    text-align: center;
}

#bad_end p {
    cursor: pointer;
    position: fixed;
    bottom:20px;
    font-size:40px;
    width:100%;
    text-align: center;
}




.main-warp.dissolve {
    animation: dissolve 1s 0.5s ease forwards ;
}

.main-warp {
    /* 개발용 껏다 키기 */
    /* display:none; */


    position: relative;
    top:0;
    width:100%;
    height:100%;
    perspective: 800px;
    background-color: rgb(8, 8, 8);
    z-index:6;
    overflow: hidden;
}

.main-warp.on{
    animation: dissolve_on 1s 0s ease forwards ;
}





#questions {
    display: flex;
    position: relative;
    top:calc(50%);
    left:0;
    width:100%;
    height: 50px;
    z-index:4;
}

.answer{
    
    cursor: pointer;
    width: 50%;
    height:100%;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    transition: all 1s ease ;
    opacity:3%;

}

.answer.pick {
    opacity:100%;
    color: #a32014;
    transition: all 0.2s ease ;
}

.answer:hover {
    opacity:100%;
    transition: all 1s ease ;
}

#home_Nrr {
    position: fixed;
    bottom:50px;
    width: 100%;
    height:50px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    transition: all 1s ease ;
    opacity:100%;
    z-index:10;

}



.back {
    background-color:#a32014;
    overflow:visible ;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
    width: 199px;
    height: 299px;
    transform: rotateY(0deg) rotateX(-10deg);
    z-index:3;
    
}



.door {
    position: absolute;
    overflow:visible ;
    left: calc(50% - 101px);
    top: calc(50% - 151px);
    width: 207px;
    height: 301px;
    transform:rotateY(0deg);
    transform-origin: left;
    backface-visibility: visible;
    background-color: black;
    z-index:3;
    
}


#EndCredits{
    display:none;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    background-color: #000000;
    height:100%;
    width:100%;
    z-index:15;
    opacity:0%;
    transition: all 1s;
}

#EndCredits p {
    position: relative;
    color: aliceblue;
    width:100%;
    margin-left:50px;
    
}

#title, #title_Credits {
    position: relative;
    left:calc(50% - 420px) ;
    top:calc(50% - 600px);
    width:800px;
    height:auto;
    opacity:80%;
}
#title_Credits{
    left:0;
    top:0;
    margin-bottom: -700px;
}


.eyes {
    position: relative;
    top: -1000px;
    width:100%;
    height:100%;
    overflow:visible ;
    opacity:0%;
}



.eyes .eye:nth-child(1) {

    position:absolute ;
    top:40%;
    left:calc(50% + 100px);
    width:100px;
    height:100px;
    transform: rotateZ(10deg);
    
/*    
        opacity: 0;
        animation: fadeIn 1s ease 2s forwards;  */
      
}

.eyes .eye:nth-child(2) {

    position:absolute ;
    top:50%;
    left:calc(50% - 400px);
    width:300px;
    height:100px;
    transform: rotateZ(-30deg);
}

.eyes .eye:nth-child(3) {

    position:absolute ;
    top:50%;
    left:calc(50% - 400px);
    width:500px;
    height:300px;
    transform: rotateZ(30deg);
}

.eyes .eye:nth-child(4) {

    position:absolute ;
    top:40%;
    left:calc(50% - 100px);
    width:700px;
    height:200px;
    transform: rotateZ(150deg);
}

.eyes .eye:nth-child(5) {

    position:absolute ;
    top:55%;
    left:calc(50% - 200px);
    width:1000px;
    height:500px;
    transform: rotateZ(50deg);
}

.eyes .eye:nth-child(6) {

    position:absolute ;
    top:65%;
    left:calc(50% - 800px);
    width:1000px;
    height:500px;
    transform: rotateZ(-40deg);
}

.eyes .eye:nth-child(7) {

    position:absolute ;
    top:80%;
    left:calc(50% - 10px);
    width:80px;
    height:80px;
    transform: rotateZ(-20deg);
}

.eyes .eye:nth-child(8) {

    position:absolute ;
    top:80%;
    left:calc(50% - 50px);
    width:500px;
    height:200px;
    transform: rotateZ(-110deg);
}


.bad_end{
    display:none;
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    transition: all 1s ease-in-out;
}












